@import "../../scss/variables";

.home {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background: url("../../Assets/images/homebg.jpg");
  background-size: cover;
  background-position: right bottom;
  display: flex;
  // padding-top: 60px;
  align-items: center;
  justify-content: center;

  .content {
    // background: white;
    text-align: center;

    .title {
      color: white;
      font-size: 3em;
      text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
    }
    button {
      border: none;
      font-size: 1.5em;
      background: $main;
      color: white;
      font-weight: 600;
      padding: 0.5em 1em;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}
